body {
    background-color: #2e3b2e; /* Dunkelgrüner Hintergrund */
  }
  
  .config-box {
    background-color: #1a1a1a;
    color: white;
    width: 300px;
  }
  
  button:disabled {
    background-color: grey;
    border-color: grey;
  }
  